.about-component__header{
    text-align: center;
    font-family: 'Martel', serif;
    padding: 2.2rem;
}

.about-img{
    width: 350px;
    float: right;
    margin: 75px;
}

.about-component__main-text{
    font-family: 'Martel', serif;
    text-align: center;
    margin: 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

@media all and (max-width: 1000px){
    .about-img{
        width: 230px;
    };

}

@media all and (max-width: 600px){
    .about-component__main-text{
        font-size: x-small;

    }

}

@media all and (max-width: 500px){
    .about-img{
        width: 180px;
    };


}

