.home-component__header{
    text-align: center;
    font-family: 'Martel', serif;
    padding: 2.2rem;
}

.home-component__img{
    width: 340px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.home-component__main-text{
    font-family: 'Martel', serif;
    text-align: center;
    margin: 50px
    }