*{
    margin: 0;
    padding: 0


}

.bg{
    background-color:rgb(210, 203, 231);
    height: 100%
}

.intro-img{
    clip-path: circle();
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.about-img{
    width: 350px;
    float: right;
    margin-left: 20px;
}

.main-text{
font-family: 'Martel', serif;
}

.intro-text{
    text-align: center;
    font-family: 'Martel', serif;
    padding: 2.2rem;
}

.centered-text{
text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.about-text{
    text-align: center;
    padding: 15px

}

.connect-links{
    padding: 0 15px 0 15px;
    text-align: center;

}

.title-padding{
    padding: 10rem 0
}