*{
    margin: 0;
    padding: 0


}

.bg{
    background-color:rgb(210, 203, 231);
    height: 100%
}

.intro-img{
    clip-path: circle();
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.about-img{
    width: 350px;
    float: right;
    margin-left: 20px;
}

/* project content image */
/* .PC-image{

} */
.font-text{
    font-family: 'Martel', serif;
    text-decoration: underline;
    }

.main-text{
font-family: 'Martel', serif;
text-align: center;
}

.heading-text{
    text-align: center;
    font-family: 'Martel', serif;
    padding: 2.2rem;
}

.footer-text{
    text-align: center;
    font-family: 'Martel', serif;
    padding: 2.2rem;
    font-weight: bold;
}

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}


.connect-links{
    padding: 0 15px 0 15px;
    text-align: center;

}

.title-padding{
    padding: 10rem 0
}

.resume-button{
    margin: 100px;
    padding: 5px;
}

.button-cont, .centered-contact{
    display: flex;
    justify-content: center;
}